<h1><center><%= @product.item %></center></h1>

<div class='col-md-6'>
  <h2>Item</h2>
  <p><%= @product.item %></p>
</div>

<div class='col-md-6'>
  <h2>Item Decription</h2>
  <p><%= @product.description %></p>
</div>

<div class='col-md-6'>
  <h2>Cost </h2>
  <p><%= @product.cost %></p>
</div> 